{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% endblock %}

    <title>{% block title %}Logo Nav - Start Bootstrap Template{% endblock %}</title>

    {% block basic_css %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        * {
            font-size: 12px;
            line-height: 1;
        }

        .btn {
            font-size: 12px;
        }
    </style>
    <!-- Custom CSS -->
    <link href="{% static 'museuzoo/css/logo-nav.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'toastr/toastr.min.css' %}" rel="stylesheet">
    {% endblock %}
    {% block extra_css %}
    {% endblock %}

    {% block compat_js %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}

    <!--This is for initializing javascript variables from django template-->
    {% block extrahead %}

    {% endblock %}

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">
                    <img src="http://placehold.it/150x50&text=Logo" alt="">
                </a>-->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li id="page_creuament">
                        <a href="{% url 'index' %}">Creuament capes</a>
                    </li>
                    <li id="page_list_geotiff">
                        <a href="{% url 'geotiff_list' %}">Llistar rasters</a>
                    </li>
                    <li id="page_list_datafile">
                        <a href="{% url 'datafile_list' %}">Llistar fitxers dades</a>
                    </li>
                    <li id="page_list_operation">
                        <a href="{% url 'operation_list' %}">Llistar operacions</a>
                    </li>
                    <li id="rasterlist_list_operation">
                        <a href="{% url 'rasterlist_list' %}">Llistes de favorits</a>
                    </li>
                    <li>
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    {% block body %}
    {% endblock %}
    <!-- /.container -->

    <!-- jQuery -->
    {% block basic_js %}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    <script src="{% static 'visor/javascript/toastr_options.js' %}"></script>
    <script>
        <!-- This selects the current active page -->
        $('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');
    </script>
    <script>
        var opcions_llenguatge_catala = {
            "sProcessing":   "Processant...",
            "sLengthMenu":   "Mostra _MENU_ registres",
            "sZeroRecords":  "No s'han trobat registres.",
            "sInfo":         "Mostrant de _START_ a _END_ de _TOTAL_ registres",
            "sInfoEmpty":    "Mostrant de 0 a 0 de 0 registres",
            "sInfoFiltered": "(filtrat de _MAX_ total registres)",
            "sInfoPostFix":  "",
            "sSearch":       "Filtrar:",
            "sUrl":          "",
            "oPaginate": {
                "sFirst":    "Primer",
                "sPrevious": "Anterior",
                "sNext":     "Següent",
                "sLast":     "Últim"
            }
        };
    </script>
    {% endblock %}
    {% block extra_js %}
    {% endblock %}

</body>

</html>
