{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Datafile (shapefile,csv) list{% endblock %}

{% block extrahead %}
<script>
    var _datafile_update_url = "{% url 'datafile_update_no_id' %}";
    var _datafile_delete_url = "{% url 'datafiles-list' %}";
    var _datafile_list_url = "{% url 'datafiles-list' %}";
</script>
{% endblock %}

{% block extra_css %}
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet">
    <style>
        .add_button {
            padding: 15px;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <a role="button" class="btn btn-success" href="{% url 'datafile_create' %}">Add DataFile</a>
</div>
<div class="container">
    <table id="datafile_list"></table>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'visor/javascript/datafile_list.js'%}"></script>
{% endblock %}