{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Create GeoTiff Layer in GeoServer{% endblock %}

{% block extra_css %}
    <style>
        .geotiff_table {
            width:100%;
        }
        td, th {
            padding: 20px;
            padding-left: 20px;
        }
        .geotiff_table tbody tr td input{
            width:100%;
        }
        .ui-helper-hidden-accessible { display:none; }
    </style>
    <link href="{% static 'jquery-tagit/css/jquery.tagit.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-tagit/css/tagit.ui-zendesk.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <form enctype="multipart/form-data" action="{% url 'geotiff_create' %}" method="post">
            {% csrf_token %}
            <p>Aquest és el formulari per afegir ràsters a l'aplicatiu. El fitxer raster ha de complir els requisits següents:</p>
            <p>
                <ul>
                    <li>Format GeoTIFF</li>
                    <li>Ha d'estar projectat en el sistema de referència WGS84</li>
                </ul>
            </p>
            <input role="button" class="btn btn-success" type="submit" value="Desar" />
            <a role="button" class="btn btn-success" href="{% url 'geotiff_list' %}">Cancel·lar</a>
            <table class="geotiff_table">
                {{ form.as_table }}
                <tr>
                    <th>Tags:</th>
                    <td><ul id="tags_list"></ul></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script>
        /* Fix for tagit/jquery conflict */
        $.fn.andSelf = function() {
            return this.addBack.apply(this, arguments);
        }
    </script>
    <script src="{% static 'jquery-tagit/js/tag-it.min.js' %}"></script>
    <script src="{% static 'visor/javascript/tags_list.js' %}"></script>
{% endblock %}