{% extends "base.html" %}
{% load staticfiles %}
{% load tagging_tags %}

{% block title %}Creuament de capes{% endblock %}

{% block extrahead %}
<script>
    var _geotiff_list_url = "{% url 'geotiffs-list' %}";
    var _datafile_list_url = "{% url 'datafiles-list' %}";
    var _operation_create_url = "{% url 'operations-list' %}";
    var _user_id = {{ request.user.id }};
</script>
{% endblock %}

{% block extra_css %}
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'datatables.net-select-dt/css/select.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'leaflet/dist/leaflet.css' %}" rel="stylesheet">
<link href="{% static 'sidebar-v2/css/leaflet-sidebar.min.css' %}" rel="stylesheet">
<link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'jquery-tagit/css/jquery.tagit.css' %}" rel="stylesheet">
<style>
    #map { height: 400px; }
    #geotiff_list_container { float:left; width: 50%; padding: 20px;}
    #datafile_list_container { float:left; width: 50%; padding: 20px;}
    #result_window { padding: 20px; }
    .hidden-raster-id-value { display:none; }
    .hidden-datafile-id-value { display:none; }
    table.dataTable tr.odd { background-color: #E2E4FF; }
    table.dataTable tr.even { background-color: white; }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <section>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        </div><!-- /.modal -->
    </section>
    <div class="row">
        <div class="col-lg-12">
            <div id="map"></div>
        </div>
    </div>

    <!--<div id="sidebar" class="sidebar collapsed">
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
                <li class="disabled"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
                <li><a href="https://github.com/Turbo87/sidebar-v2" role="tab" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>

            <ul role="tablist">
                <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
            </ul>
        </div>
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    sidebar-v2
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
            </div>

            <div class="sidebar-pane" id="profile">
                <h1 class="sidebar-header">Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>

            <div class="sidebar-pane" id="messages">
                <h1 class="sidebar-header">Messages<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>

            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>
        </div>
    </div>-->
    <hr/>
    <div id="result_window" class="row">
        <div class="col-lg-3">
            <span>Rasters seleccionats:</span>
            <ul class="tagit ui-widget ui-widget-content ui-corner-all selected-rasters">
            </ul>
        </div>
        <div class="col-lg-3">
            <span>Fitxer de dades:</span>
            <ul class="tagit ui-widget ui-widget-content ui-corner-all selected-datafiles">
            </ul>
        </div>
        <div class="col-lg-3">
            <button id="creua" type="button" class="btn btn-success">Creua raster(s) i fitxer de dades</button>
        </div>
        <div id="link_op" class="col-lg-2">

        </div>
    </div>
    <hr/>
    <div class="row">
        <!--<div class="col-lg-6">
            {% tag_cloud_for_model visor.GeoServerRaster as raster_tags %}
            {% for tag in raster_tags %}
                <span class="label label-default" style="background-color: orange;">{{ tag }}</span>
            {% endfor %}
        </div>
        <div class="col-lg-6">
            {% tag_cloud_for_model visor.DataFile as datafile_tags %}
            {% for file in datafile_tags %}
                <span class="label label-default" style="background-color: orange;">{{ file }}</span>
            {% endfor %}
        </div>-->
    </div>
    <div class="row">
        <!--<div>-->
            <div id="geotiff_list_container">
                <table id="geotiff_list"></table>
            </div>
            <div id="datafile_list_container">
                <table id="datafile_list"></table>
            </div>
        <!--</div>-->
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script>
        var map;
        var osm;
        var roads;
        var satellite;
        var terrain;
        var hybrid;
        var geoJsonLayer;
        var wmsLayers = {};
        var control_layers;
    </script>
    <script src="{% static 'leaflet/dist/leaflet.js' %}" ></script>
    <script src="{% static 'underscore/underscore-min.js' %}" ></script>
    <script>
        var rasters = [];
        var wms_url = '{{ wms_url }}';
        {% for raster in raster_list %}
            rasters.push('{{ raster.full_geoserver_layer_name }}');
        {% endfor %}
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmGF2iEuPZt4fCJqxgHLZ8WMtQ7wM0Sp4" async defer></script>
    <script src="{% static 'visor/javascript/Leaflet.GridLayer.GoogleMutant/Leaflet.GoogleMutant.js' %}" ></script>
    <script src="{% static 'sidebar-v2/js/jquery-sidebar.min.js' %}" ></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'datatables.net-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'visor/javascript/csrf_utils.js'%}"></script>
    <script src="{% static 'visor/javascript/geotiff_compact_list.js'%}"></script>
    <script src="{% static 'visor/javascript/datafile_compact_list.js'%}"></script>
    <script src="{% static 'visor/javascript/L.TileLayer.BetterWMS.js' %}" ></script>
    <script src="{% static 'visor/javascript/visor.js' %}" ></script>
    <script src="{% static 'visor/javascript/visor_extra.js' %}" ></script>
{% endblock %}