{% extends "base.html" %}
{% load staticfiles %}
{% load tagging_tags %}

{% block title %}Creuament de capes{% endblock %}

{% block extrahead %}
<script>
    var _geotiff_list_url = "{% url 'geotiffs-list' %}";
    var _datafile_list_url = "{% url 'datafiles-list' %}";
    var _operation_create_url = "{% url 'operations-list' %}";
    var _list_create_url = "{% url 'rasterlists-list' %}";
    var _list_list_url = "{% url 'rasterlists-list' %}";
    var _user_id = {{ request.user.id }};
</script>
{% endblock %}

{% block extra_css %}
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="{% static 'datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'datatables.net-select-dt/css/select.dataTables.min.css' %}" rel="stylesheet">
<link href="{% static 'leaflet/dist/leaflet.css' %}" rel="stylesheet">
<link href="{% static 'sidebar-v2/css/leaflet-sidebar.min.css' %}" rel="stylesheet">
<link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'jquery-tagit/css/jquery.tagit.css' %}" rel="stylesheet">
<style>
    #map { height: 600px; }
    .result_window { padding: 20px; }
    .hidden-raster-id-value { display:none; }
    .hidden-datafile-id-value { display:none; }
    table.dataTable tr.odd { background-color: #E2E4FF; }
    table.dataTable tr.even { background-color: white; }
</style>
{% endblock %}

{% block body %}

<div id="dialog-form" title="Desar llista de favorits">
  <p class="validateTips">Es desaran els rasters seleccionats com a llista de favorits amb un nom.</p>

  <form>
    <fieldset>
      <label for="name">Nom</label>
      <input type="text" name="name" id="name" value="" class="text ui-widget-content ui-corner-all">
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

<!--<div class="container result_window">-->
<div class="result_window">
    <div class="row">
        <div class="col-lg-4">
            <label for="autoc_favorits">Carrega favorits:</label>
            <input id="autoc_favorits">
        </div>
    </div>
    <div class="row result_window">
        <div class="col-lg-3" style="visibility:hidden;">
            <span><strong>Rasters seleccionats:</strong></span>
            <ul class="tagit ui-widget ui-widget-content ui-corner-all selected-rasters"></ul>
            <button data-toggle="tooltip" title="Desa llista de rasters" id="desa-llista" type="button" class="btn btn-success"><span class="fa fa-heart"></span></button>
        </div>
        <div class="col-lg-3" style="visibility:hidden;">
            <span><strong>Fitxer de dades:</strong></span>
            <ul class="tagit ui-widget ui-widget-content ui-corner-all selected-datafiles">
            </ul>
            <div class="row">
                <div class="col-lg-6"><button id="creua" type="button" class="btn btn-success">Creua raster(s) i fitxer de dades</button></div>
                <div id="link_op" class="col-lg-6"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="geotiff_list_container" class="col-lg-3">
            <table id="geotiff_list"></table>
        </div>
        <div id="datafile_list_container" class="col-lg-3">
            <table id="datafile_list"></table>
        </div>
        <div class="col-lg-6">
            <div id="map"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script>
        var map;
        var osm;
        var roads;
        var satellite;
        var terrain;
        var hybrid;
        var geoJsonLayer;
        var wmsLayers = {};
        var control_layers;
        var dialog, form;
    </script>
    <script src="{% static 'leaflet/dist/leaflet.js' %}" ></script>
    <script src="{% static 'underscore/underscore-min.js' %}" ></script>
    <script>
        var rasters = [];
        var wms_url = '{{ wms_url }}';
        {% for raster in raster_list %}
            rasters.push('{{ raster.full_geoserver_layer_name }}');
        {% endfor %}
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmGF2iEuPZt4fCJqxgHLZ8WMtQ7wM0Sp4" async defer></script>
    <script src="{% static 'visor/javascript/Leaflet.GridLayer.GoogleMutant/Leaflet.GoogleMutant.js' %}" ></script>
    <script src="{% static 'sidebar-v2/js/jquery-sidebar.min.js' %}" ></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'datatables.net-select/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'visor/javascript/csrf_utils.js'%}"></script>
    <script src="{% static 'visor/javascript/geotiff_compact_list.js'%}"></script>
    <script src="{% static 'visor/javascript/datafile_compact_list.js'%}"></script>
    <script src="{% static 'visor/javascript/L.TileLayer.BetterWMS.js' %}" ></script>
    <script src="{% static 'visor/javascript/visor.js' %}" ></script>
    <script src="{% static 'visor/javascript/visor_extra.js' %}" ></script>
{% endblock %}