{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Map{% endblock %}

{% block extra_css %}
<link href="{% static 'leaflet/dist/leaflet.css' %}" rel="stylesheet">
<link href="{% static 'sidebar-v2/css/leaflet-sidebar.min.css' %}" rel="stylesheet">
<style>
    #map { height: 400px; }

</style>
{% endblock %}

{% block body %}
<div class="container">
    <section>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        </div><!-- /.modal -->
    </section>
    <div class="row">
        <div class="col-lg-12">
            <div id="map"></div>
        </div>
    </div>
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
                <!--<li class="disabled"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>-->
                <!--<li><a href="https://github.com/Turbo87/sidebar-v2" role="tab" target="_blank"><i class="fa fa-github"></i></a></li>-->
            </ul>

            <ul role="tablist">
                <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    sidebar-v2
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
            </div>

            <div class="sidebar-pane" id="profile">
                <h1 class="sidebar-header">Profile<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>

            <div class="sidebar-pane" id="messages">
                <h1 class="sidebar-header">Messages<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>

            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            </div>
        </div>
    </div>
    <div>
        <div>
            <h2>Raster List</h2>
            <ul>
                {% for raster in raster_list %}
                    <li>{{ raster.full_geoserver_layer_name }}<input type="checkbox" name="{{ raster.full_geoserver_layer_name }}" value="{{ raster.full_geoserver_layer_name }}"><br></li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h2>Datafile List</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'leaflet/dist/leaflet.js' %}" ></script>
    <script src="{% static 'underscore/underscore-min.js' %}" ></script>
    <script>
        var rasters = [];
        var wms_url = '{{ wms_url }}';
        {% for raster in raster_list %}
            rasters.push('{{ raster.full_geoserver_layer_name }}');
        {% endfor %}
    </script>
    <script src="{% static 'visor/javascript/visor.js' %}" ></script>
    <script src="{% static 'sidebar-v2/js/jquery-sidebar.min.js' %}" ></script>
{% endblock %}