{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Editar llistes de favorits{% endblock %}

{% block extra_css %}
    <style>
        td, th {
            padding: 20px;
            padding-left: 20px;
        }
        .rasterlist_table tbody tr td input{
            width:100%;
        }
        .ui-helper-hidden-accessible { display:none; }
    </style>
    <link href="{% static 'jquery-ui/themes/base/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-tagit/css/jquery.tagit.css' %}" rel="stylesheet">
    <style>
        .hidden-raster-id-value { display:none; }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <form action="{% url 'rasterlist_update' id %}" method="post">
            {% csrf_token %}
            <input role="button" class="btn btn-success" type="submit" value="Desar" />
            <a role="button" class="btn btn-success" href="{% url 'rasterlist_list' %}">Cancel·lar</a>
            <table class="rasterlist_table">
                {{ form.as_table }}
                <tr>
                    <th><label>Rasters:</label></th>
                    <td><input id="rasters_autocomplete"></td>
                    <td><span data-toggle="tooltip" title="Escriu tres lletres del nom del ràster. Quan aparegui al desplegable, tria'l per afegir-lo a la llista de ràsters." class="fa fa-info-circle"></span></td>
                </tr>
            </table>
            <div>
                <td>
                    <ul class="tagit ui-widget ui-widget-content ui-corner-all selected-rasters">
                    </ul>
                </td>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script>
        /* Fix for tagit/jquery conflict */
        $.fn.andSelf = function() {
            return this.addBack.apply(this, arguments);
        }
    </script>
    <script>
        var raster_table = [];
        {% for raster in rasters %}
            raster_table.push({ 'id':{{ raster.id }}, 'name': '{{ raster.name }}' });
        {% endfor %}
    </script>
    <script src="{% static 'jquery-tagit/js/tag-it.min.js' %}"></script>
    <script src="{% static 'visor/javascript/tags_list.js' %}"></script>
    <script src="{% static 'visor/javascript/taglist_build.js' %}"></script>
    <script src="{% static 'underscore/underscore-min.js' %}" ></script>
    <script src="{% static 'visor/javascript/rasterlist_update.js' %}"></script>
{% endblock %}